# Data Science Tools and Ecosystem

## Introdution

In [1]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives

**Objectives:** 
List popular languages for Data Science:
Python
R
SQL

## Data Science languages

In [2]:
#Some of the popular languages that Data Scientists use are:
# 1 - Python
# 2 - R
# 3 - SQL

## Data Science libraries

In [3]:
#Some of the commonly used libraries used by Data Scientists include:
# 1 - Numpy
# 2 - Pandas
# 3 - Matplotlib

## Data Science Tools

In [5]:
# Import pandas library
import pandas as pd
  
# initialize list elements
data = ['RStudio', 'Apache Spark', 'TensorFlow']
  
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Data Science Tools'])
  
# print dataframe.
df

  Data Science Tools
0            RStudio
1       Apache Spark
2         TensorFlow

## Arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author: 
Lucas Kevin Cleypaul Santos